body{
    margin:0px;
    padding:0px;
}
.square{
    height:100px;
    width:30%;
    background-color:black;
    margin-left:2%;
    display: inline-block;
}

#one{
    background-color:red;
    
}
#second{
    background-color:#46d946;
   
}

#third{
    background-color:blue;
}