/* Smartphones (portrait and landscape) ----------- */ 
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
body{
    
    background-color:red;
    
}


} 

/* Smartphones (landscape) ----------- */ 
@media only screen and (min-width : 321px) { 




} 

/* Smartphones (portrait) ----------- */ 
@media only screen and (max-width : 320px) { 






} 

/* iPads (portrait and landscape) ----------- */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 

body{
    
    background-color:yellow;
    
}

} 

/* iPads (landscape) ----------- */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 






} 

/* iPads (portrait) ----------- */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 




} 

/* Desktops and laptops ----------- */ 
@media only screen and (min-width : 1224px) { 

body{
    
    background-color:green;
    
}


} 

/* Large screens ----------- */ 
@media only screen and (min-width : 1824px) { 

body{
    
    background-color:pink;
    
}


} 

/* iPhone 4 ----------- */ 
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) { 





} 
